@import './var.scss';

:root {
  // Color Palette
  --eg-bg: #{$white};
  --eg-black: #{$black};
  --eg-white: #{$white};
  --eg-gray-1: #{$gray-1};
  --eg-gray-2: #{$gray-2};
  --eg-gray-3: #{$gray-3};
  --eg-gray-4: #{$gray-4};
  --eg-gray-5: #{$gray-5};
  --eg-gray-6: #{$gray-6};
  --eg-gray-7: #{$gray-7};
  --eg-gray-8: #{$gray-8};
  --eg-red: #{$red};
  --eg-blue: #{$blue};
  --eg-orange: #{$orange};
  --eg-orange-dark: #{$orange-dark};
  --eg-orange-light: #{$orange-light};
  --eg-green: #{$green};

  // Gradient Colors
  --eg-gradient-red: #{$gray-3};
  --eg-gradient-orange: #{$gradient-orange};

  // Component Colors
  --eg-primary-color: #{$primary-color};
  --eg-success-color: #{$success-color};
  --eg-danger-color: #{$danger-color};
  --eg-warning-color: #{$warning-color};
  --eg-text-color: #{$text-color};
  --eg-active-color: #{$active-color};
  --eg-background-color: #{$background-color};
  --eg-background-color-light: #{$background-color-light};
  --eg-text-link-color: #{$text-link-color};

  // Border
  --eg-border-color: #{$border-color};
}

:root[data-theme="dark"] {
  // Color Palette
  --eg-bg: #{$white};
  --eg-black: #{$black};
  --eg-white: #{$white};
  --eg-gray-1: #{$gray-1};
  --eg-gray-2: #{$gray-2};
  --eg-gray-3: #{$gray-3};
  --eg-gray-4: #{$gray-4};
  --eg-gray-5: #{$gray-5};
  --eg-gray-6: #{$gray-6};
  --eg-gray-7: #{$gray-7};
  --eg-gray-8: #{$gray-8};
  --eg-red: #{$red};
  --eg-blue: #{$blue};
  --eg-orange: #{$orange};
  --eg-orange-dark: #{$orange-dark};
  --eg-orange-light: #{$orange-light};
  --eg-green: #{$green};

  // Gradient Colors
  --eg-gradient-red: #{$gradient-red};
  --eg-gradient-orange: #{$gradient-orange};

  // Component Colors
  --eg-primary-color: #{$primary-color};
  --eg-success-color: #{$success-color};
  --eg-danger-color: #{$danger-color};
  --eg-warning-color: #{$warning-color};
  --eg-text-color: #{$text-color};
  --eg-active-color: #{$active-color};
  --eg-background-color: #{$background-color};
  --eg-background-color-light: #{$background-color-light};
  --eg-text-link-color: #{$text-link-color};

  // Border
  --eg-border-color: #{$border-color};
}
