@import './var.scss';

:root {
  // Color Palette
  --eg-bg: #fff;
  --eg-black: $black;
  --eg-white: $white;
  --eg-gray-1: $gray-1;
  --eg-gray-2: $gray-2;
  --eg-gray-3: $gray-3;
  --eg-gray-4: $gray-4;
  --eg-gray-5: $gray-5;
  --eg-gray-6: $gray-6;
  --eg-gray-7: $gray-7;
  --eg-gray-8: $gray-8;
  --eg-red: $red;
  --eg-blue: $blue;
  --eg-orange: $orange;
  --eg-orange-dark: $orange-dark;
  --eg-orange-light: $orange-light;
  --eg-green: $green;

  // Gradient Colors
  --eg-gradient-red: blue;
  --eg-gradient-orange: $gradient-orange;

  // Component Colors
  --eg-primary-color: $primary-color;
  --eg-success-color: $success-color;
  --eg-danger-color: $danger-color;
  --eg-warning-color: $warning-color;
  --eg-text-color: $text-color;
  --eg-active-color: $active-color;
  --eg-active-opacity: $active-opacity;
  --eg-disabled-opacity: $disabled-opacity;
  --eg-background-color: $background-color;
  --eg-background-color-light: $background-color-light;
  --eg-text-link-color: $text-link-color;

  // Padding
  --eg-padding-base: $padding-base;
  --eg-padding-xs: $padding-xs;
  --eg-padding-sm: $padding-sm;
  --eg-padding-md: $padding-md;
  --eg-padding-lg: $padding-lg;
  --eg-padding-xl: $padding-xl;

  // Font
  --eg-font-size-xs: $font-size-xs;
  --eg-font-size-sm: $font-size-sm;
  --eg-font-size-md: $font-size-md;
  --eg-font-size-lg: $font-size-lg;
  --eg-font-weight-bold: $font-weight-bold;
  --eg-line-height-xs: $line-height-xs;
  --eg-line-height-sm: $line-height-sm;
  --eg-line-height-md: $line-height-md;
  --eg-line-height-lg: $line-height-lg;
  --eg-base-font-family: $base-font-family;
  --eg-price-integer-font-family: $price-integer-font-family;

  // Animation
  --eg-animation-duration-base: $animation-duration-base;
  --eg-animation-duration-fast: $animation-duration-fast;
  --eg-animation-timing-function-enter: $animation-timing-function-enter;
  --eg-animation-timing-function-leave: $animation-timing-function-leave;

  // Border
  --eg-border-color: $border-color;
  --eg-border-width-base: $border-width-base;
  --eg-border-radius-sm: $border-radius-sm;
  --eg-border-radius-md: $border-radius-md;
  --eg-border-radius-lg: $border-radius-lg;
  --eg-border-radius-max: $border-radius-max;
}

:root[data-theme="dark"] {
  // Color Palette
  --eg-bg: #000;
  --eg-black: $black;
  --eg-white: $white;
  --eg-gray-1: $gray-1;
  --eg-gray-2: $gray-2;
  --eg-gray-3: $gray-3;
  --eg-gray-4: $gray-4;
  --eg-gray-5: $gray-5;
  --eg-gray-6: $gray-6;
  --eg-gray-7: $gray-7;
  --eg-gray-8: $gray-8;
  --eg-red: $red;
  --eg-blue: $blue;
  --eg-orange: $orange;
  --eg-orange-dark: $orange-dark;
  --eg-orange-light: $orange-light;
  --eg-green: $green;

  // Gradient Colors
  --eg-gradient-red: red;
  --eg-gradient-orange: $gradient-orange;

  // Component Colors
  --eg-primary-color: $primary-color;
  --eg-success-color: $success-color;
  --eg-danger-color: $danger-color;
  --eg-warning-color: $warning-color;
  --eg-text-color: $text-color;
  --eg-active-color: $active-color;
  --eg-active-opacity: $active-opacity;
  --eg-disabled-opacity: $disabled-opacity;
  --eg-background-color: $background-color;
  --eg-background-color-light: $background-color-light;
  --eg-text-link-color: $text-link-color;

  // Padding
  --eg-padding-base: $padding-base;
  --eg-padding-xs: $padding-xs;
  --eg-padding-sm: $padding-sm;
  --eg-padding-md: $padding-md;
  --eg-padding-lg: $padding-lg;
  --eg-padding-xl: $padding-xl;

  // Font
  --eg-font-size-xs: $font-size-xs;
  --eg-font-size-sm: $font-size-sm;
  --eg-font-size-md: $font-size-md;
  --eg-font-size-lg: $font-size-lg;
  --eg-font-weight-bold: $font-weight-bold;
  --eg-line-height-xs: $line-height-xs;
  --eg-line-height-sm: $line-height-sm;
  --eg-line-height-md: $line-height-md;
  --eg-line-height-lg: $line-height-lg;
  --eg-base-font-family: $base-font-family;
  --eg-price-integer-font-family: $price-integer-font-family;

  // Animation
  --eg-animation-duration-base: $animation-duration-base;
  --eg-animation-duration-fast: $animation-duration-fast;
  --eg-animation-timing-function-enter: $animation-timing-function-enter;
  --eg-animation-timing-function-leave: $animation-timing-function-leave;

  // Border
  --eg-border-color: $border-color;
  --eg-border-width-base: $border-width-base;
  --eg-border-radius-sm: $border-radius-sm;
  --eg-border-radius-md: $border-radius-md;
  --eg-border-radius-lg: $border-radius-lg;
  --eg-border-radius-max: $border-radius-max;
}