@import '../_styles/var.scss';

$button-mini-height: 24px;
$button-mini-padding: 0 var(--eg-padding-base);
$button-mini-font-size: var(--eg-font-size-xs);
$button-small-height: 32px;
$button-small-padding: 0 var(--eg-padding-xs);
$button-small-font-size: var(--eg-font-size-sm);
$button-normal-padding: 0 15px;
$button-normal-font-size: var(--eg-font-size-md);
$button-large-height: 50px;
$button-default-height: 44px;
$button-default-line-height: 1.2;
$button-default-font-size: var(--eg-font-size-lg);
$button-default-color: var(--eg-text-color);
$button-default-background-color: var(--eg-white);
$button-default-border-color: var(--eg-border-color);
$button-primary-color: var(--eg-white);
$button-primary-background-color: var(--eg-primary-color);
$button-primary-border-color: var(--eg-primary-color);
$button-success-color: var(--eg-white);
$button-success-background-color: var(--eg-success-color);
$button-success-border-color: var(--eg-success-color);
$button-danger-color: var(--eg-white);
$button-danger-background-color: var(--eg-danger-color);
$button-danger-border-color: var(--eg-danger-color);
$button-warning-color: var(--eg-white);
$button-warning-background-color: var(--eg-warning-color);
$button-warning-border-color: var(--eg-warning-color);
$button-border-width: var(--eg-border-width-base);
$button-border-radius: var(--eg-border-radius-sm);
$button-round-border-radius: var(--eg-border-radius-max);
$button-plain-background-color: var(--eg-white);
$button-disabled-opacity: var(--eg-disabled-opacity);
$button-icon-size: 1.2em;
$button-loading-icon-size: 20px;